@font-face {
  font-family: 'baeno';
  src: url('/fonts/baeno.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.neonContainer {
  font-family: 'baeno', sans-serif;
  font-weight: 100;
  letter-spacing: 0.05em;
  display: flex;
  flex-flow: row;
  justify-content: center;
  color: #d9fdff;
  text-shadow: 0 0 2rem #00f0ff;
  font-size: 2rem;
}

@media (min-width: 640px) {
  .neonContainer {
    font-size: 3rem;
  }
}

@media (min-width: 768px) {
  .neonContainer {
    font-size: 4rem;
  }
}

@media (min-width: 1024px) {
  .neonContainer {
    font-size: 5rem;
  }
}

@media (min-width: 1280px) {
  .neonContainer {
    font-size: 6rem;
  }
}

.letter {
  display: inline-block;
}

.flicker {
  transform: translate(-0.2rem, 1rem) rotate(10deg);
  animation: flicker 2s ease-in-out infinite alternate;
}

@keyframes flicker {
  0%, 5% {
    opacity: 1;
    transform: translate(-0.2rem, 1rem) rotate(10deg);
  }
  5.5% {
    opacity: 0;
    transform: translate(-0.2rem, 1rem) rotate(10deg);
  }
  6%, 6.5% {
    opacity: 1;
    transform: translate(-0.2rem, 1rem) rotate(10deg);
  }
  7% {
    opacity: 0;
    transform: translate(-0.2rem, 1rem) rotate(10deg);
  }
  8% {
    opacity: 1;
    transform: translate(-0.2rem, 1rem) rotate(10deg);
  }
  50% {
    opacity: 1;
    transform: translate(-0.2rem, 1rem) rotate(13deg);
  }
  100% {
    opacity: 1;
    transform: translate(-0.2rem, 1rem) rotate(10deg);
  }
} 